
.button-container{
    display: flex;
    gap:1rem;
    // justify-content: flex-end;
    margin-right: 5%;
    position: absolute;
    bottom: 5rem;
    right: 1rem;
}

.button-unselected{
    background-color: white;
    color: #302401;
    border-radius: 1rem;
    width: 8.5rem;
    height: 3.4rem;
    border-color: #FFC107;
    cursor: pointer;
}

.button-selected{
    background-color: #FFC107;
    color: white;
    border-radius: 1rem;
    width: 8.5rem;
    height: 3.4rem;
    border-color: #FFC107;
    cursor: pointer;
}